* {
    margin: 0;
    padding: 0;
    font-family: 'Formular', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #E5E7EB;
}

header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #F9FAFB;
    padding: 24px 192px;
    width: 100%;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    padding-top: 72px;
    padding-left: 192px;
    padding-right: 192px;
}

.header-up,
.header-down {
    display: flex;
    justify-content: space-between;
    max-width: 1536px;
}

.header-up {
    gap: 24px;
}


.header-up__left--icon {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-up__left--img {
    width: 50px;
    height: 74px;
}

.header-up__right {
    display: flex;
    flex-direction: row;
}

.burger {
    width: 24px;
    height: 16px;
    display: none;
}

.header-up__right-phone {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header-down__menu--left {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.delivery-block__left,
.delivery-block__right {
    flex: 1;
    max-width: 756px;
}

.delivery-block__left>img {
    height: 352px;
    border-radius: 16px;
    transform: scaleX(-1);
    object-fit: cover;
}

.delivery-block__left>h1 {
    text-align: left;
}

.delivery-block__left>p {
    padding-top: 12px;
    padding-bottom: 16px;
}

.delivery-block__left {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.delivery {
    width: 100%;
}

.delivery-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.delivery-block__right {
    background-color: #F9FAFB;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 24px 27px;
}

.delivery-block__right--text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.delivery-block__right-calc {
    max-width: max-content;
    width: 100%;
    display: grid;
    text-align: center;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.delivery-block__right-calc input:first-child,
.delivery-block__right-calc button {
    grid-column: span 2;
}

.delivery-block__right-calc input {
    border-radius: 4px;
    padding: 12px;
    border: 2px solid;
}

.text {
    font: normal 400 16px/24px sans-serif;
    letter-spacing: 0;
    color: #111827;
}

.text-2xl {
    letter-spacing: 0;
    font-size: 24px;
    line-height: 32px;
    color: #111827;
}

.text-light {
    font-weight: 300;
}

.text-row {
    display: none;
}

.text-right {
    text-align: right;
    padding-right: 12px;
    border-right: 1px #A78BFA solid;
}

.text-center {
    text-align: center;
}

.text-3xl {
    font-size: 30px;
    line-height: 36px;
}

.btn {
    border: none;
    padding: 10px 28px;
    color: #F9FAFB;
    background: #8B5CF6;
    border-radius: 4px;
}

.text-basic {
    font-weight: 700;
}

.text-bold {
    font-weight: 900;
}

.text-xl {
    font-size: 20px;
    line-height: 28px;
}

.text-4xl {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0;
    color: #111827;
}

.header-down__menu--left li:hover {
    color: #A78BFA;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

@media (max-width: 1536px) {

    header {
        width: 100%;
        padding: 24px 256px;
    }

    .header-up,
    .header-down {
        width: 100%;
    }

    .header-up {
        align-items: flex-start;
        gap: 24px;
    }

    .header-up__right>p {
        max-width: 420px;
        font-size: 16px;
        line-height: 24px;
    }

    .header-up__right-phone--up h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .header-up__right-phone-down p {
        font-size: 20px;
        line-height: 28px;
    }

    .header-down {
        align-items: center;
    }
}

@media (max-width: 1060px) {
    header {
        padding: 24px 128px;
        gap: 12px;
    }

    .header-up__right>p {
        display: none;
    }

    .text-row {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        flex-direction: row;
        padding: 4px;
        gap: 8px;
    }

    .text-row span {
        text-align: center;
        flex: 1;
    }

    .header-down {
        border-bottom: 1px #A78BFA solid;
        ;
        border-top: 1px #A78BFA solid;
        display: flex;
        justify-content: space-between;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (max-width: 770px) {
    header {
        padding: 8px 60px;
        justify-content: center;
    }

    .text-row {
        display: none;
    }

    .header-up {
        align-items: center;
        gap: 12px;
    }

    .header-up__left--img {
        width: 36px;
        height: auto;
    }

    .header-up__left--icon h1 {
        font-size: 18px;
        line-height: 28px;
    }

    .header-up__right {
        align-items: center;
    }

    .header-up__right>p {
        display: none;
    }

    .header-up__right-phone {
        flex-direction: row;
        align-items: center;
        gap: 12px;
        padding-left: 0;
    }

    .header-up__right-phone--up h1 {
        font-size: 20px;
        line-height: 28px;
        white-space: nowrap;
    }

    .header-up__right-phone-down {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .header-down {
        display: none;
    }
}